body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  font-size: 10px;
  color: #444;
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0 4em 0 4em;
}
.wrapper{
  display: flex;
  width: 70em;
  justify-content: center;
  margin: 5em auto;
  box-shadow: 0 1.3em 2.6em rgba(0,0,0,0.25), 0 0.5em 0.5em rgba(0,0,0,0.23);
  flex-flow: column;
  flex-wrap: wrap;
}
.main-header{
  display: block;
  background-color: #0b2631;
  padding: 2em 2em 4em 2em;
  flex: 1;
  color: #5cd0fa;
}
.main-heading, .description{
  text-align: center;
}
.main-heading{
  font-size: 4em;
}
.description{
  font-size: 2em;
  color: #f3f3f3;
}
#search{
  width: 25em;
  height: 2.2em;
  border: 0.08em solid #dcd;
  border-radius: 0.2em;
  padding: 0.1em;
  display: block;
  margin: 0 auto;
}
.main-content{
  display: block;
  flex-flow: column;
  padding: 1.5em;
  margin-top: 2em;
}
.section-title{
  display: block;
  flex-flow: column;
  font-size: 3.2em;
  font-weight: 400;
  color: #0b2631;
  text-indent: 1em;
}
.book{
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  border-left: 0.2em solid #0b2631;
  text-indent: 1em;
  height: 3em;
  align-items: center;
  margin: 1em;
}
.book-name{

}
.delete{
  border: 0.05em solid  #4ab0d6;
  background-color: #5cd0fa;
  border-radius: 0.2em;
  padding: 0.35em;
  margin: 0;
  color: #0b2631;
}
.delete:hover{
  cursor: pointer;
  background-color: #4bc0e9;
}
.book-registration{
  margin: 5em auto 5em auto;
}
.book-registration input[type="text"]{
  width: 23em;
  height: 2.252em;
  border: 0.08em solid #dcd;
  border-radius: 0.2em;
  padding: 0.1em;
}
.add-book{
  border: 0.05em solid  #4ab0d6;
  background-color: #5cd0fa;
  border-radius: 0.15rem;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  color: #0b2631;
  font-size: 1.4rem;
  cursor: pointer;
  align-self: center;
  margin: 2rem 0 0 0;
}
.add-book:hover{
  cursor: pointer;
  background-color: #4bc0e9;
}

.main-footer{
  margin-top: 1em;
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0.5em 1em 0.5em;
  flex: 1;
  color: #0b2631;
}
